backend/step-function/current_json.json
{
  "Comment": "Pipeline: Read → Extract → Transform → Generate → Store. Catch-all error handler writes 'failed' status to DynamoDB.",
  "StartAt": "ReadRenderMetadata",
  "States": {
    "ReadRenderMetadata": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:103870333822:function:builting-read",
      "ResultPath": "$.metadata",
      "Next": "ExtractBuildingSpec",
      "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 2, "MaxAttempts": 2, "BackoffRate": 2 }],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "HandleFailure" }]
    },

    "ExtractBuildingSpec": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:103870333822:function:builting-extract",
      "Parameters": {
        "renderId.$": "$.renderId",
        "userId.$": "$.userId",
        "bucket.$": "$.bucket",
        "files.$": "$.metadata.files",
        "description.$": "$.metadata.render.description",
        "render.$": "$.metadata.render"
      },
      "ResultPath": "$.specResult",
      "Next": "CSSPipeline",
      "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 2, "MaxAttempts": 2, "BackoffRate": 2 }],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "HandleFailure" }]
    },

    "CSSPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:103870333822:function:builting-transform",
      "Parameters": {
        "cssS3Key.$": "$.specResult.cssS3Key",
        "userId.$": "$.userId",
        "renderId.$": "$.renderId",
        "bucket.$": "$.bucket"
      },
      "ResultPath": "$.pipelineResult",
      "Next": "GenerateIFC",
      "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 2, "MaxAttempts": 1, "BackoffRate": 2 }],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "HandleFailure" }]
    },

    "GenerateIFC": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:103870333822:function:builting-generate",
      "Parameters": {
        "cssS3Key.$": "$.pipelineResult.cssS3Key",
        "bucket.$": "$.bucket",
        "renderId.$": "$.renderId",
        "userId.$": "$.userId"
      },
      "ResultPath": "$.ifcResult",
      "Next": "StoreIFC",
      "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 2, "MaxAttempts": 2, "BackoffRate": 2 }],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "HandleFailure" }]
    },

    "StoreIFC": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:103870333822:function:builting-store",
      "Parameters": {
        "renderId.$": "$.renderId",
        "userId.$": "$.userId",
        "ifcS3Path.$": "$.ifcResult.ifcS3Path",
        "ai_generated_title.$": "$.specResult.ai_generated_title",
        "ai_generated_description.$": "$.specResult.ai_generated_description",
        "elementCounts.$": "$.ifcResult.elementCounts",
        "outputMode.$": "$.ifcResult.outputMode",
        "cssHash.$": "$.ifcResult.cssHash",
        "tracingReport.$": "$.specResult.tracingReport"
      },
      "End": true,
      "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 2, "MaxAttempts": 2, "BackoffRate": 2 }]
    },

    "HandleFailure": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:103870333822:function:builting-store",
      "Parameters": {
        "failureMode": true,
        "renderId.$": "$.renderId",
        "userId.$": "$.userId",
        "error.$": "$.error"
      },
      "End": true,
      "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 2, "MaxAttempts": 2, "BackoffRate": 2 }]
    }
  }
}
